<style>
  body {
    background-image: url('7.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
  }

  header {
    background-color: darkolivegreen;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
nav {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }

  footer {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
</style>
